@{
    ViewData["Title"] = "Home Page";
}
<body>
    <img src="~/images/background1op.png" alt="Description" class="hero-img">
    <div class="hero-text hero-text-right">
        <h1 class="hero-title">
            <span>Party</span>
            <span>Animals</span>
        </h1>
    </div>
    <div class="hero-text hero-text-left">
        <p class="hero-text">
            <span>The best party experience <br /></span>
            <span>you can get!</span>
        </p>
    </div>
    <div class="hero-text hero-btn">
        <button id="" type="submit" class="w-50 btn btn-lg btn-primary-light">Reserve</button>
    </div>

</body>